div {
  width: 100%;
  height: 100vh;
  padding: 20px;
  border: 10px solid #fff;
  box-sizing: border-box;
  background-image: url(https://wallpaperaccess.com/full/4582655.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
