div {
  width: 100%;
  height: 100vh;
  padding: 20px;
  border: 10px solid #000;
  box-sizing: border-box;
  background: url(https://wallpaperaccess.com/full/4582655.jpg) no-repeat center;
  background-color: aquamarine;
  background-size: 200px;
}
