/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* div > div  */
/* {
  margin: 0px;
  border: 2px solid aquamarine; 
  height: 200px;
  background-color: #000;
} */

/* Order of properties */
/* Position/Align -> Size -> Box model -> Color -> Decoration */

/*=============================================
=            Header section                   =
=============================================*/

/*----------  Navigation bar  ----------*/

#header {
  --height: 46px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  justify-content: space-between;
  display: flex;
  border: none;
  height: var(--height);
  background-color: #000;
}

#header__nav {
  display: flex;
  min-width: 469px;
  list-style-type: none;
}

#header__nav li {
  position: relative;
}

#header__nav li a {
  display: block; /*For setting height*/
  padding: 0px 24px;
  line-height: var(--height);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
#header__nav li:hover #header__more-icon,
#header__sub-nav > li:hover > a,
#header__nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}

#header__nav #header__more-icon {
  padding: 0px 6px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

/*----------  Sub navigation bar  ----------*/

#header__sub-nav {
  position: absolute;
  top: 45px;
  display: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.64);
  min-width: 160px;
  list-style-type: none;
}

#header__sub-nav li {
  background-color: #fff;
}
#header__nav #header__sub-nav a {
  display: block;
  padding: 8px 16px;
  line-height: 22px;
  text-transform: none;
  color: #000;
}

/* Toggle sub nav */
#header__nav li:hover #header__sub-nav {
  display: block;
}

/*----------  Search button  ----------*/

#header__search-button {
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: 60px;
  height: 46px;
}

#header__search-button:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header__search-icon {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

/*=====  End of Header section  ======*/

/*=============================================
=            Slider section                   =
=============================================*/

#slider {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  margin-top: 46px;
  height: 50vw; /*Hightlight*/
  background: url(../img/ny.jpg) no-repeat center;
  background-size: cover;
}

.slider__description {
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  padding: 32px 16px;
  background-color: transparent;
  text-align: center;
  color: #fff;
}

.slider__heading {
  margin: 10px;
  font-size: 24px;
  font-weight: 400;
}
.slider__sub-heading {
  margin: 15px;
  font-weight: bold;
}

/*=====  End of Slider section  ======*/

/*=============================================
=            Content section            =
=============================================*/

#content {
  flex-direction: column;
  display: flex;
}

#content__contact,
#content__tours,
#content__about {
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
  width: 801px;
  height: 100%;
}

.content__heading {
  margin: 10px 0px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.content__sub-heading {
  opacity: 0.5;
  margin: 15px 0px;
  font-size: 15px;
  text-align: center;
}

.content__description {
  margin: 15px 0px;
  font-size: 15px;
  line-height: 1.5;
}

/*----------  About section  ----------*/

#content__about {
  flex-direction: column;
  display: flex;
}

#content__members {
  justify-content: space-around;
  display: flex;
  padding: 32px 0px;
}

.member {
  min-width: 256px;
  text-align: center;
}

.member__name {
  margin: 15px 0px;
}

.member__image {
  margin-bottom: 16px;
  border-radius: 4px;
  width: 154px;
  height: 154px;
}

/*----------  Tours section  ----------*/

#content__tours-container {
  height: 805px;
  background-color: #000;
  color: #fff;
}

/*----------  Tour months  ----------*/

#content__tour-months ul {
  font-size: 15px;
  line-height: 1.5;
  list-style-type: none;
}

#content__tour-months li {
  padding: 8px 16px;
}

.tour__month {
  border-bottom: 1px solid #ddd;
  background-color: #fff;

  color: rgba(0, 0, 0, 0.6);
}

.tour__sold-out {
  margin-left: 16px;
  padding: 3px 8px;
  background-color: #f44336;
  color: #fff;
}

.tour__quantity {
  float: right;
  margin-right: 16px;
  border-radius: 50%;
  padding: 0px 8px;
  background-color: #000;
  color: #fff;
}

/*----------  Tour cities  ----------*/

.content__tour-cities {
  justify-content: space-between;
  display: flex;
  padding: 32px 0px;
}

.tour__city {
  flex-direction: column;
  display: flex;
  width: 245px;
  height: 390px;
}

.tour__city-image {
  width: 100%;
  height: 184px;
}

.tour__city-image:hover {
  opacity: 0.6;
}

.tour__city-description {
  padding: 0.15px 16px;
  height: 204px;
  background-color: #fff;
  line-height: 1.4;
  color: #000;
}

.tour__city-description p {
  margin: 15px 0px;
}
.tour__city-description p:nth-child(1) {
  font-weight: bold;
}
.tour__city-description p:nth-child(2) {
  opacity: 0.5;
}

.tour__city-buy {
  margin-bottom: 16px;
  border: none;
  padding: 8px 16px;
  background-color: #000;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
}

.tour__city-buy:hover {
  background-color: #ccc;
  color: #000;
}

/*----------  Contact section  ----------*/

#content__contact {
  height: 460px;
}

#content__contact-form {
  display: flex;
  padding: 32px 0px;
}

.contact__info {
  flex: 1;
  margin-bottom: 16px;
  font-size: 18px;
}

/*----------  Input section  ----------*/

.contact__input {
  flex: 1;
}

.contact__input input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  height: 40px;
}

.contact__input-upper {
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}

.contact__input-lower input {
  width: 100%;
}

.contact__input-button {
  float: right;
  margin: 16px 0px;
  border: none;
  padding: 8px 16px;
  background-color: #000;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}
.contact__input-button:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

#content__banner {
  background: url(../img/map.jpg) no-repeat center;
  background-size: cover;
  height: 50vw; /*Hightlight*/
}

/*=====  End of Content section  ======*/

/*=============================================
=            Footer section            =
=============================================*/

#footer {
  padding: 64px 16px;
  font-size: 24px;
  text-align: center;
}
.footer__icon {
  opacity: 0.6;
}
.footer__icon:hover {
  opacity: 0.3;
}
.footer__author {
  margin: 15px 0px;
  font-size: 15px;
}

/*=====  End of Footer section  ======*/

/*=============================================
=            Modal                            =
=============================================*/

/*----------  Modal Header  ----------*/

.modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal--open {
  display: flex;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal__container {
  flex-direction: column;
  display: flex;
  width: 900px;
  max-width: calc(100% - 32px);
  height: 472px;
  background-color: #fff;
  animation: modalFadeIn ease 0.6s;
}

.modal__header {
  flex: 1;
  position: relative;
  padding: 32px 16px;
  background-color: #009688;
}

.modal__header h2 {
  margin: 10px 0px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.modal__header .ti-bag {
  margin-right: 16px;
}

.modal__header-close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0);
  line-height: 36px;
  font-size: 12px;
  font-weight: bolder;
  color: #fff;
}

.modal__form-close-button:hover,
.modal__form-pay-button:hover,
.modal__header-close-button:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

/*----------  Modal form  ----------*/

.modal__form {
  flex: 1;
  padding: 0px 16px;
}

.modal__form p {
  margin: 15px 0px;
  font-size: 15px;
  font-weight: 500;
}

.modal__form input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  font-size: 15px;
}

.modal__form-pay-button {
  margin: 16px 0px;
  padding: 16px;
  background-color: #009688;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

.modal__form .ti-check {
  margin-left: 4px;
}

.modal__form-close-button {
  display: inline-block;
  margin: 16px 0px;
  border: none;
  padding: 8px 16px;
  background-color: #f44336;
  font-size: 15px;
  color: #fff;
}
.modal__form-close-button .ti-close {
  margin-left: 4px;
  font-size: 12px;
}

.modal__form-help {
  float: right;
  margin: 15px 0px;
  font-size: 15px;
  line-height: 1.5;
}

.modal__form-help a {
  color: #2196f3 !important;
}

/*=====  End of Modal  ======*/
