/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng
*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

#main {
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav li {
  position: relative;
  /*<li> does not have padding*/
  display: inline-block;
}

#nav li a {
  line-height: 46px;
  /*using <a> padding*/
  padding: 0px 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  /*Hover <li> change <a>*/
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  min-width: 160px;
  position: absolute;
  top: 46px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.64);
  display: none;
}

#nav .subnav li {
  width: 100%;
}

#nav .subnav li a {
  padding: 0px 12px;
  width: 100%;
  color: #000;
  text-transform: none;
}

#nav li:hover .subnav {
  display: block;
}

.down-arrow-icon {
  font-size: 14px;
  font-weight: bold;
}

#header #search-button {
  padding: 0px 24px;
  float: right;
}

#header #search-button .search-icon {
  line-height: 46px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

#header #search-button:hover {
  background-color: #f44336;
  cursor: pointer;
}

#slider {
  position: relative;
  margin-top: 46px;
  /*50% of its width*/
  padding-top: 50%;
  background: url(../img/slider/chicago.jpg) top center / cover no-repeat;
}

#slider .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 32px;
  color: #fff;
  text-align: center;
}

#slider .description .des_heading {
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
}
#slider .description .des_content {
  margin: 15px;
  font-size: 15px;
  font-weight: bold;
}

#content #about,
#content #tour,
#content #contact {
  width: 800px;
  height: 672px;
  padding: 64px 16px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

#content .heading {
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .sub-heading {
  margin: 15px;
  opacity: 0.6;
  display: block;
  text-align: center;
}

#content #about .about-content {
  margin: 15px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4; /*1.6 if Vietnamese*/
}

#content .member-info {
  padding: 32px 0px;
}

#content .member {
  float: left;
  width: calc(100% / 3);
  text-align: center;
}

#content .member-name {
  margin: 15px;
  display: block;
  font-size: 15px;
}

#content .member-image {
  width: 154px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.clear {
  /*Fix float problem*/
  clear: both;
}

#footer {
  height: 1000px;
}
