/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng
*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

#main {
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  background-color: #000;
}

#nav {
  display: inline-block;
}

#nav li {
  position: relative;
  /*<li> does not have padding*/
  display: inline-block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  /*Hover <li> change <a>*/
  color: #000;
  background-color: #ccc;
}

#nav li a {
  line-height: 46px;
  /*using <a> padding*/
  padding: 0px 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

#nav .subnav {
  min-width: 160px;
  position: absolute;
  top: 46px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.64);
  display: none;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li {
  width: 100%;
}

#nav .subnav li a {
  padding: 0px 12px;
  width: 100%;
  color: #000;
  text-transform: none;
}

.down-arrow-icon {
  font-size: 14px;
  font-weight: bold;
}

#header #search-button {
  padding: 0px 24px;
  float: right;
}

#header #search-button .search-icon {
  line-height: 46px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

#header #search-button:hover {
  background-color: #f44336;
  cursor: pointer;
}

#slider {
  margin-top: 46px;
  height: 300px;
  background-color: violet;
}
#content {
}
#footer {
}
