@mixin marginAll($value) {
  margin: $value;
}
@mixin paddingAll($value) {
  padding: $value;
}
@mixin bgColor($color) {
  background-color: $color;
}
@mixin fontSize($value) {
  font-size: $value;
}
@mixin txtColor($color) {
  color: $color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.flex {
  display: flex;
}

.txt-center {
  text-align: center;
}

.rounded-corner {
  border-radius: 12px;
}

.box {
  flex: 3;
  @include marginAll(16px);
  @include paddingAll(8px);
  @include bgColor(aquamarine);
  &__item {
    border-radius: inherit;
    @include paddingAll(8px);
    @include bgColor(#000);
    @include txtColor(#fff);
    &-header {
      @include fontSize(30px);
    }
  }
}

.input {
  flex: 1;
}
